<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Sighting</title>
</head>
<body>
    <nav class="navbar navbar-light bg-light border-bottom p-3">
        <a class="navbar-brand" href="/">
            <img src="https://img.freepik.com/premium-vector/realistic-gold-bars-bullion-treasure-illustration_287964-432.jpg?w=2000" width="100" height="100" class="d-inline-block align-center" alt="gold-bar">
            <h1 class="font-weight-bold d-inline-block">My Bullion Tracker</h1>
        </a>
    </nav>  
    <div>
        <h1>
        New Bullion Entry for: {{session['first_name']}}
        </h1>
    </div>
    <p>
        <a href='/dashboard'>
            Dashboard
        </a>
    </p>
    <p>
        <a href="/user/logout">
            Logout
        </a>
    </p>
    <h1>Create a new bullion entry</h1>
    </p>
    <form method="POST" action="/bullion/create">
        <div>
            <label>
                Description:
            </label>
            <input type="text" name="description"></textarea> 
            {% for message in get_flashed_messages(category_filter = ['error_sighting_description']) %}
                {{message}}
            {% endfor %}
        </div>
        <div>
            <label>
                Amount:
            </label>
            <textarea type="number" name="amount"></textarea>
            {% for message in get_flashed_messages(category_filter = ['error_sighting_amount']) %}
                {{message}}
            {% endfor %}
        </div>
            <label>
                Type:
            </label>
            <input type="text" name="date_of_sighting"></textarea>
            {% for message in get_flashed_messages(category_filter = ['error_sighting_date_of_sighting']) %}
                {{message}}
            {% endfor %}
        </div>
        <div>
            <label for="number_of_sas">
                # of Sasquatches:
            </label>
                <select name="number_of_sas" id="number_of_sas">
                    <option value="1">
                        1
                    </option>
                    <option value="2">
                        2
                    </option>
                    <option value="3">
                        3
                    </option>
                    <option value="4">
                        4
                    </option>
                </select>
                {% for message in get_flashed_messages(category_filter = ['error_sighting_number_of_sas']) %}
                    {{message}}
                {% endfor %}
        </div>
        <button>Report</button>
    </form>
</body>
</html>