<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../static/imgs/favicon.ico" type="image/x-icon">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <title>Bullion Tracker</title>
</head>
<body>
    <nav class="navbar navbar-light bg-light border-bottom p-3">
        <a class="navbar-brand" href="/">
            <img src="https://img.freepik.com/premium-vector/realistic-gold-bars-bullion-treasure-illustration_287964-432.jpg?w=2000" width="100" height="100" class="d-inline-block align-center" alt="gold-bar">
            <h1 class="font-weight-bold d-inline-block">My Bullion Tracker</h1>
        </a>
    </nav>
</head>
<body>
    <div>
        <h1>
        Edit Bullion Entry: {{session['first_name']}}
        </h1>
    </div>
    <p>
        <a href='/dashboard'>
            Dashboard
        </a>
    </p>
    <p>
        <a href="/user/logout">
            Logout
        </a>
        <h1>Edit this bullion entry</h1>
    </p>
    <form method="POST" action="/bullion/update/{{current_bullion.id}}">
        <div>
            <label>
                Description:
            </label>
            <input type="text" name="description" value="{{current_bullion.description}}"></textarea> 
            {% for message in get_flashed_messages(category_filter = ['error_bullion_description']) %}
                {{message}}
            {% endfor %}
        </div>
        <div>
            <label>
                Amount:
            </label>
            <input type="number" name="amount" value="{{current_bullion.amount}}"></>
            {% for message in get_flashed_messages(category_filter = ['error_bullion_amount']) %}
                {{message}}
            {% endfor %}
        </div>
        <div>
            <label>
                Type:
            </label>
            <input type="text" name="type" value="{{current_bullion.type}}"></textarea>
            {% for message in get_flashed_messages(category_filter = ['error_bullion_type']) %}
                {{message}}
            {% endfor %}
        </div>
        <div>
            <label>
                Weight:
            </label>
            <input type="number" name="weight" value="{{current_bullion.weight}}"></textarea>
            {% for message in get_flashed_messages(category_filter = ['error_bullion_weight']) %}
                {{message}}
            {% endfor %}
        </div>
        <div>
            <label>
                Date Purchased:
            </label>
            <input type="date" name="date_purchased" value="{{current_bullion.date_purchased}}"></textarea>
            {% for message in get_flashed_messages(category_filter = ['error_bullion_date_purchased']) %}
                {{message}}
            {% endfor %}
        </div>
        <div>
            <label>
                Purchased from:
            </label>
            <input type="text" name="purchased_from" value="{{current_bullion.purchased_from}}"></textarea>
            {% for message in get_flashed_messages(category_filter = ['error_bullion_purchased_from']) %}
                {{message}}
            {% endfor %}
        </div>
        <div>
            <label>
                Location held:
            </label>
            <input type="text" name="location_held" value="{{current_bullion.location_held}}"></textarea>
            {% for message in get_flashed_messages(category_filter = ['error_bullion_location_held']) %}
                {{message}}
            {% endfor %}
        </div>
        <button>Update Entry</button>
    </form>
</body>
</html>